#container
    a#header-text(href="/")
        h4.text-uppercase Winrose
        h4.text-uppercase.font-weight-lighter Shop
    #header-center-buttons
        mixin text-button(text)
            button.hc-button.btn.btn-outline-light.text-dark.bg-transparent.mr-1.border-0.text-uppercase.font-weight-lighter&attributes(attributes)= text
            
        div(ngbDropdown)
            +text-button('Items Category')(ngbDropdownToggle)
            div(ngbDropdownMenu aria-labelledby='dropdownBasic1')
                mixin ddbutton(text, href)
                    button.btn-light.font-weight-lighter(ngbDropdownItem, routerLink=href)&attributes(attributes)= text
                
                +ddbutton('Bag', '/items/bags')(class='hc-button')
                +ddbutton('Wallet', '/items/wallets')(class='hc-button')
                +ddbutton('Case', '/items/cases')(class='hc-button')
                +ddbutton('Keyholder', '/items/keyholders')(class='hc-button')
                +ddbutton('Other', '/items/others')(class='hc-button')

        +text-button('About')
        +text-button('Shopping Guide')
        +text-button('Contact')
        
    #header-right-buttons.ml-4
        mixin icon-button(name)
            button.btn.btn-outline-light.mr-1.border-0
                img.button-icon(src='assets/images/icons/' + name + '.svg')
        
        +icon-button('search')
        +icon-button('inbox')
        +icon-button('person-circle')
        +icon-button('cart3')
    
    #header-buttons-sm
        div(ngbDropdown placement="bottom-right")
            button#menu-button.btn.btn-outline-light.mr-1.border-0(ngbDropdownToggle)
                img.button-icon(src='assets/images/icons/list.svg')
            div(ngbDropdownMenu aria-labelledby='dropdownBasic1')
                mixin upperDDbutton(text)
                    button.btn-light.font-weight-lighter.text-uppercase(ngbDropdownItem)&attributes(attributes)= text
                
                +upperDDbutton('Home')
                +upperDDbutton('About')
                +upperDDbutton('Shopping Guide')
                +upperDDbutton('Item Categories')(routerLink='/items')
                +ddbutton('- Bag', '/items/bags')
                +ddbutton('- Wallet', '/items/wallets')
                +ddbutton('- Case', '/items/cases')
                +ddbutton('- Keyholder', '/items/keyholders')
                +ddbutton('- Other', '/items/others')
                +upperDDbutton('Contact')
                .dropdown-divider
                form
                    +icon-button('inbox')
                    +icon-button('person-circle')
                    +icon-button('cart3')
                .dropdown-divider
                form
                    .col-auto
                        .input-group
                            input.m-0.p-0.form-control.border-top-0.border-right-0.border-left-0.rounded-0(type="text" id="inlineFormInputGroup" placeholder="Search Item")
                        button.mt-2.btn.btn-sm.btn-outline-dark Search
