#container {
    display: flex;
    flex-direction: row;
}

#header-text {
    display: flex;
    flex-direction: row;
}

button:focus {
    outline: none;
    box-shadow: none;
}

#header-center-buttons {
    display: none;
}

#header-right-buttons {
    display: none;
}

#header-buttons-sm {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#menu-button {
    padding: 0;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (min-width: 992px) { 
    #container {
        padding: 0 0.75rem 0 0.75rem;
    }

    #header-buttons-sm {
        display: none;
    } 

    #header-center-buttons {
        display: flex;
        flex-direction: row;
        align-self: center;
        flex-grow: 1;
        justify-content: flex-end;
    }

    @keyframes hc-button {
        from { text-decoration-color: transparent; }
        to { text-decoration-color: auto; }
    }

    .hc-button:hover {
        text-decoration: line-through;
        animation: hc-button 2s linear;
    }

    #header-right-buttons {
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: flex-end;
    }
}
