#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.5rem;
}

#footer-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#footer-center-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#footer-socials {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

button:focus {
    outline: none;
    box-shadow: none;
}

@media (min-width: 992px) {
    #container {
        flex-direction: row;
        align-items: flex-start;
    }

    #footer-center-options {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-grow: 1;
    }

    #footer-text {
        justify-content: flex-start;
    }

    #footer-socials {
        justify-content: flex-end;
    }
}