#cont
    ngb-carousel
        mixin templateImg(imageNo, altText, hrefText)
            ng-template(ngbSlide)
                a(href=hrefText target='_blank' rel='nofollow noopener noreferrer')
                    .picsum-img-wrapper
                        img(src='assets/images/slide'+imageNo+'.jpg' alt=altText)
        
        +templateImg('1', 'Image 1', '')
        +templateImg('2', 'Image 2', '')
        +templateImg('3', 'Image 3', '')