#cont
    #info-title
        h3.font-weight-light Information
        hr
    table#info-table.table.table-borderless
        tbody
            tr(*ngFor='let info of information') 
                    td.font-weight-lighter {{ info.date | date : 'yyyy/mm/dd' }}
                    td.font-weight-light {{ info.message }}
