#cont
    nav.bg-transparent(aria-label='breadcrumb')
        ol.breadcrumb.bg-transparent
            li.font-weight-light.breadcrumb-item(*ngFor='let crumb of crumbs')
                a.text-muted(routerLink='{{crumb.href}}') {{crumb.text}}
            li.font-weight-light.breadcrumb-item.active(aria-current='page').text-capitalize {{current}}